.about-us-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  
  font-family: 'Arial', sans-serif;
}


p {
  line-height: 1.6;
}

h1, h2 {
  margin-left:0;
  padding-left:0;
}

.intro h1 {
  text-align: center;
}


.team-container {
  display: flex; /* Disposizione orizzontale */
  gap: 20px; /* Spaziatura tra gli elementi */
  justify-content: center; /* Allineamento orizzontale */
  flex-wrap: wrap; /* Per gestire gli elementi su righe multiple se necessario */
}

.team-member {
  text-align: center; /* Allinea il testo e l'immagine al centro */
  max-width: 200px; /* Limita la larghezza di ciascun elemento */
}
