<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />


<div class="container mt-5 text-light">

  <h2>My account</h2>
  <hr>
  
  <div class="row">

    <div class="col-md-6 mb-4">

      <div class="card">

        <div routerLink="/user-info" role="button" style="cursor: pointer;" class="card-body">

          <!--Icona-->
          <div class="card-icon">
            <i class="material-symbols-outlined">info</i>
          </div>

          <!--Titolo e info-->
          <div class="card-details">
            <h5 routerLink="/userinfo" role="button" style="cursor: pointer;" class="card-title">Informations</h5>
            <p class="card-text">Edit name, telephone number and other personal info.</p>
          </div>

        </div>
      </div>
    </div>




    <div class="col-md-6 mb-4">
      <div class="card">
        <div routerLink="/user-addresses" role="button" style="cursor: pointer;" class="card-body">

          <div class="card-icon">
            <i class="material-symbols-outlined">home</i>
          </div>

          <div class="card-details">
            <h5 class="card-title">Addresses</h5>
            <p class="card-text">Edit delivery, residence, and billing addresses.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div routerLink="/user-orders" role="button" style="cursor: pointer;" class="card-body">

          <div class="card-icon">
            <i class="material-symbols-outlined">package_2</i>
          </div>

          <div class="card-details">
            <h5 class="card-title">My orders</h5>
            <p class="card-text">View the history of your orders.</p>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>